@font-face {
  font-family: 'CodeNext';
  src: local('CodeNext'), url('./assets/fonts/CodeNext.ttf') format('truetype');
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
}

.navigation {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 80px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding-top: 10px;
}

.navigation img {
  object-fit: cover;
  width: 150px;
  padding: 5px;
}

#button {
  transition-duration: 0.5s;
}

#button:hover {
  box-shadow: 0px 10px 15px 0px #1a1e24;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 200px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer h1 {
  color: #ffffff;
  font-weight: 200;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer img {
  object-fit: cover;
  width: 35px;
  height: 35px;
  padding: 15px;
  cursor: pointer;
}

.content {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  padding-top: 50px;
}

.download_section {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: start;
  align-items: flex-start;
  justify-content: center;
}

.download_section h1 {
  font-size: 65px;
  color: #ffffff;
  padding-bottom: 5px;
  font-family: 'CodeNext';
}

.download_section p {
  font-size: 18px;
  color: #ffffff;
  line-height: 140%;
  font-weight: 300;
  padding-bottom: 25px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.item_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  align-items: flex-start;
  width: 100%;
  margin-left: 150px;
  margin-right: 150px;
}

.item img {
  object-fit: contain;
  width: 500px;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.item h1 {
  font-size: 45px;
  font-family: 'CodeNext';
}

.item p {
  font-size: 18px;
  line-height: 140%;
  font-weight: 300;
  width: 90%;
}

.preview {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.preview img {
  object-fit: contain;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.app_icon {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 150px;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  border-radius: 10px;
  object-position: center;
  color: #ffffff;
  cursor: pointer;
}

.app_icon h1 {
  font-size: 17px;
  background: #1a1e24;
  border-radius: 999px;
  padding: 5px 20px 5px 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  right: 0;
  width: 50%;
  align-content: flex-start;
  align-items: flex-start;
  z-index: 10;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.menu a {
  color: #ffffff;
  font-size: 20px;
  margin: 10px;
  text-decoration: none;
}

#icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

#canvas {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.error h1 {
  z-index: 3;
  position: absolute;
  font: bold 200px/200px Arial, sans-serif;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  width: 100%;
  margin-left: -50%;
  height: 200px;
  text-align: center;
  color: transparent;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  animation: text 2s linear infinite;
}

#information_text {
  color: #ffffff;
  font-weight: 200;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#information_text_title {
  color: #ffffff;
  font-weight: 300;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.auth {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow: hidden !important;
}

.auth h1 {
  color: #ffffff;
  font-family: 'CodeNext';
  font-size: 40px;
}

input {
  border-top-style: hidden !important;
  border-bottom-style: hidden !important;
  border-left-style: hidden !important;
  border-right-style: hidden !important;
}

input:focus {
  outline: none !important;
  border: 0px #2e343b !important;
}

input:active {
  outline: none !important;
  border: 0px #2e343b !important;
}

input::backdrop {
  outline: none !important;
  border: 0px #2e343b !important;
}

input::before {
  outline: none !important;
  border: 0px #2e343b !important;
}

input::selection {
  outline: none !important;
  border: 0px #2e343b !important;
}

input:checked {
  outline: none !important;
  border: 0px #2e343b !important;
}

.auth_options {
  margin-top: 50px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 200;
}

.auth_options span {
  text-decoration: underline;
  margin-left: 5px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: row;
  width: 100% !important;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.form button {
  background: #ffffff;
  border-radius: 10px;
  outline: none;
  border: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-top: 25px;
  font-size: 17px;
  padding: 5px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #1a1e24;
  cursor: pointer;
}

.auth_zone {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition-duration: 0.5s;
  z-index: 2;
}

.auth_zone input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: #1a1e24;
  border: #2e343b 1px solid;
  margin: 10px 50px 10px 50px;
  padding: 5px 20px 5px 20px;
  -webkit-text-stroke-color: #676872;
  color: #ffffff !important;
  font-weight: 300;
  font-size: 14px;
}

.circleone {
  display: flex;
  position: fixed;
  width: 700px;
  height: 700px;
  top: -100px;
  left: -100px;
  border-radius: 99999px;
  z-index: 1;
}

.circletwo {
  display: flex;
  position: fixed;
  width: 400px;
  height: 400px;
  bottom: -100px;
  right: -100px;
  border-radius: 99999px;
  z-index: 1;
}

.error {
  color: #ec775c;
  width: 90%;
}

.ui {
  display: flex;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  background: #ffffff;
}

.resend-verification-email {
  color: #ffffff;
  background: #22272e;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  z-index: 2;
  border: #2e343b 1px solid;
}

.resend-verification-email span {
  text-decoration: underline;
}

.games {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.loading {
  display: flex;
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loading img {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.modal_game {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background: #1a1e24;
}

.modal_game iframe {
  width: 100%;
  min-height: 100vh;
  border: none;
  outline: none;
  overflow: hidden !important;
}

.settings_game {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

@keyframes text {
  0% {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  33% {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
  66% {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  100% {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  }
}

@media (min-width: 500px){
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .games_content {
    grid-template-columns: auto auto !important;
  }

  .app_icon {
    display: flex;
    width: 150px;
    height: 150px;
  }

  .item_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  .item img {
    display: none;
  }
}

@media (min-width: 900px){
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .app_icon {
    display: flex;
    width: 200px;
    height: 200px;
  }

  .games_content {
    grid-template-columns: auto auto auto !important;
  }

  .item_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    align-items: flex-start;
  }
  
  .item img {
    display: flex;
  }
}

.user_avatar {
  width: 100px;
  height: 100px;
}

.user_avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  padding: 5px;
  cursor: pointer;
}


.codeally {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}

.codeally_content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navigation_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 100vh;
  background: #1a1e24;
}

.chat {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.users {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  overflow-y: scroll !important;
}

.navigation_user input {
  width: 80%;
  height: 30px;
  margin: 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #2e343b;
  padding: 5px 15px 5px 15px;
  color: #ffffff;
  -webkit-text-fill-color: #676872 !important;
  font-size: 15px;
  font-weight: 200;
}

.profile {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.profile img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 999px;
  padding: 30px;
}

.profile h1 {
  color: #ffffff;
  font-size: 21px;
  font-weight: 400;
}

#edit {
  object-fit: contain !important;
  border-radius: 0px !important;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.navigation_items {
  display: flex;
  flex-direction: column;
}

.navigation_items img {
  object-fit: contain !important;
  border-radius: 0px !important;
  width: 30px;
  height: 30px;
}

.item_navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition-duration: 0.5s;
  cursor: pointer;
  padding: 100px 0px 100px 0px !important;
  margin: 5px 0px 5px 0px !important;
  background: #676872;
}

.game_item {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 350px;
  border-radius: 10px;
  padding: 5px;
  margin: 15px;
  object-fit: cover;
  align-items: center;
  justify-content: space-between;
  border: transparent 1px solid;
  transition-duration: 0.5s;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.game_item h1 {
  color: #ffffff;
  font-size: 30px;
  font-family: 'CodeNext';
  opacity: 0;
}

.game_item:hover {
  border: #676872 1px solid;
}

.button {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 45px;
  border-radius: 10px;
  background: rgb(29, 29, 31);
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin: 10px;
  cursor: pointer;
}

.games {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.games_content {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto auto;
}

.games input {
  width: 90%;
  height: 45px;
  margin: 15px;
  outline: none;
  border: none;
  border-radius: 10px;
  background: #2e343b;
  padding: 5px 15px 5px 15px;
  color: #ffffff;
  -webkit-text-fill-color: #676872 !important;
  font-size: 15px;
  font-weight: 200;
}

#wave {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

@media (min-width: 1300px){
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }

  .games_content {
    grid-template-columns: auto auto auto auto !important;
  }

  .item_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    align-items: flex-start;
  }
  
  .item img {
    display: flex;
    width: 500px;
  }
}

@media only screen and (max-width: 1200px) {
  .content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-between;
    padding-top: 60px;
  }

  .download_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: start;
    align-items: flex-start;
    justify-content: space-between;
  }

  .preview {
    display: flex;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}