body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #22272e;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background: #1a1e24;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #272d35;
  border-radius: 999px !important;
}

.Toastify > .Toastify__toast-container--bottom-center{
  margin: 0 auto;
  width: 90%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  border-radius: 10px !important;
}

.Toastify > .Toastify__close-button {
  align-self: center;
}

.Toastify__toast--success {
  background: #57ab5a !important;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
