body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #22272e;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background: #1a1e24;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #272d35;
}

.Toastify > .Toastify__toast-container--top-center{
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

.Toastify > .Toastify__close-button {
  align-self: center;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
