body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #22272e;
  overflow-x: hidden;
}

:root {
  --dark-color: #22272e;
  --light-color: #7c818c;
  --selected-color: #4b515e;
}

/* Chats Page */

.chats-page {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100vh;
  background: #404552;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  text-align: center;
  align-items: center;
  background: var(--dark-color);
}

.navbar h1 {
  color: #ffffff;
  font-size: 13px;
  font-weight: 900;
  padding: 10px;
}

.chats-page div {
  border: 0px !important;
}

.ce-settings {
  background: var(--dark-color) !important;
}

#msg-form-container {
  background: #10141d !important;
  border-radius: 0px !important;
}

.ce-message-form {
  background: var(--dark-color);
}

.ce-input, .ce-text-input {
  color: #ffffff !important;
}

.ce-person-text {
  color: var(--light-color);
}

.ce-section-title, .ce-person-title-container, .ce-photo-title-container {
  background: none !important;
  color: #ffffff;
}

#ce-options-drop-down {
  background: none !important;
  color: #ffffff;
}

.ce-input, .ce-text-input {
  background: #383c4a;
  border: 0px !important;
  outline: none !important;
}

#msg-textarea {
  background: var(--dark-color);
  border-radius: 0px !important;
  border: 0px !important;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.ce-chat-title {
  background: var(--dark-color) !important;
  border-radius: 0px !important;
  border: 0px !important;
}

.ce-chats-container {
  background: var(--dark-color) !important;
  border-radius: 0px !important;
}

.ce-chat-card {
  background: var(--dark-color) !important;
  border-radius: 5px !important;
  border: 0px !important;
  margin: 5px !important;
  height: 40px;
}

.ce-active-chat-card {
  background: var(--selected-color) !important;
  border-radius: 5px !important;
  border: 0px !important;
  margin: 5px !important;
  height: 40px;
}

.ce-chat-form-container {
  background: var(--dark-color) !important;
  border-radius: 2px !important;
  color: #ffffff !important;
  text-transform: uppercase !important;
  padding-top: 30px !important;
  padding-bottom: 20px !important;
  margin-left: -5px;
}

.ce-chat-form-container div {
  font-size: 15px !important;
  font-weight: 200 !important;
}

.ce-message-bubble {
  background: none !important;
  color: #ffffff !important;
}

.ce-chat-title-text {
  color: #ffffff;
}

.ce-chat-subtitle-text, .ce-chat-subtitle-message {
  color: var(--light-color) !important;
}

.ce-chat-feed-container {
  background: #383c4a !important;
  border-radius: 0px !important;
}

.logout-tab {
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: #DBE6FD;
  cursor: pointer;
  background: #4285f4;
  border-radius: 999px;
  padding: 10px;
  width: 100px !important;
  text-align: center;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar {
  background: #1a1e24;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #272d35;
  border-radius: 999px !important;
}

.Toastify > .Toastify__toast-container--bottom-center{
  margin: 0 auto;
  width: 90%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  border-radius: 10px !important;
}

.Toastify > .Toastify__close-button {
  align-self: center;
}

.Toastify__toast--success {
  background: #57ab5a !important;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
